html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snack-success {
  background-color: #4caf50 !important;
  color: #fff;
}

.snack-error {
  background-color: #f44336 !important;
  color: #fff;
}
